@if (mainNavigation) {
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-products">
      Products
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-prices">
      Prices
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-subscription">
      Subscription
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/users-admin">Users Admin</a>
  </ul>
}

@if (productsNavigation) {
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/admin-home">
      Admin Home
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-products">
      Products
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-products/create">
      Create a Product
    </a>
  </ul>
}

@if (pricesNavigation) {
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/admin-home">
      Admin Home
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-prices">
      Prices
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/admin-home/payment-prices/create">
      Create a Price
    </a>
  </ul>
}