<div class="row">
  <div class="col"></div>
  <div class="col">
    <h2>Login</h2>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col">
  </div>
  <div class="col">
    @if (!isTwoFactorForm) {
      <form [formGroup]="loginForm" (keydown)="handleEnterPress($event)">
        <div class="mb-3">
          <label for="email-input" class="form-label">Email</label>
          <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="password-input" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-input" formControlName="password">
          <a href="" routerLink="/forgot-password">Forgot Password?</a>
        </div>
        @if (!isSubmitClicked) {
          <button type="button" class="btn btn-primary" (click)="handleFormSubmit($event)" (keydown)="handleEnterPress($event)">Submit</button>
        }
        @if (isSubmitClicked) {
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </form>
    }
    @if (isTwoFactorForm) {
      <form [formGroup]="twoFAForm" (keydown)="handleTwoFactorEnterPress($event)">
        <div class="mb-3">
          <label for="code-input" class="form-label">Code</label>
          <input type="code" class="form-control" id="code-input" aria-describedby="codeHelp" formControlName="code">
        </div>
        @if (!isTwoFactorFormSubmitted) {
          <button type="button" class="btn btn-primary" (click)="twoFactorCodeSubmit($event)">Submit</button>
        }
        @if (isTwoFactorFormSubmitted) {
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </form>
    }
  </div>
  <div class="col"></div>
</div>