<div class="row">
    <div class="offset-3 col-6">
        <div class="card">
            <h5 class="card-title text-center">About</h5>
            <p class="card-text text-center">
                Cryptographic API Services is your security team's favorite Cryptography platform. Allowing your
                security team to view when and what your developers are doing with their cryptography algorithms in
                real-time.
                While allowing you to achieve speeds that on average benchmark faster than Microsoft's built in
                cryptography.
            </p>
            <p class="card-text text-center">
                We are currently in a pre-alpha stage with the online platform. However, we provide a <a
                    href="https://github.com/Cryptographic-API-Services/cas-dotnet-sdk" target="_blank">C# SDK </a>that
                interfaces with the <a href="https://github.com/RustCrypto" target="_blank">RustCrypto</a> and <a
                    href="https://github.com/dalek-cryptography" target="_blank">Dalek-Cryptography</a> suite of
                algorithms, that is totally free to use from a download on <a
                    href="https://www.nuget.org/packages/cas-dotnet-sdk" target="_blank">Nuget</a>.
                We are a totally open-source <a href="https://github.com/Cryptographic-API-Services"
                    target="_blank">company</a> and encourage security reports and correspondence be sent <a
                    href="mailto:support@cryptographicapiservices.com">here</a>.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KoH3l7U38b0?si=ww5WV2FffcrVTuI4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>
        </div>
    </div>
</div>