<div class="row">
    <div class="col">
        <form [formGroup]="userNameForm" (submit)="newUsernameSubmit()">
            <div class="mb-3">
                <label for="newusername-input" class="form-label">New Username</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="newusername-input" formControlName="username">
                    <span class="input-group-text fa-check-success" id="inputGroupPrepend" *ngIf="userNameForm.get('username')?.valid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary" *ngIf="!isNewUsernameSubmitted" (click)="newUsernameSubmit()">Submit</button>
                <div class="spinner-border text-primary" role="status" *ngIf="isNewUsernameSubmitted">
                    <span class="visually-hidden">Loading...</span>
                </div>
        </form>
        <br />
        <form [formGroup]="userPasswordForm" (submit)="submitNewPasswordForm()">
            <div class="mb-3">
                <label for="newPassword-input" class="form-label">New Password</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="newpassword-input" formControlName="newPassword">
                    <span class="input-group-text fa-check-success" id="inputGroupPrepend" *ngIf="userPasswordForm.get('newPassword')?.valid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="mb-3">
                <label for="confirm-new-password-input" class="form-label">Confirm New Password</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="confirm-new-password-input" formControlName="confirmNewPassword">
                    <span class="input-group-text fa-check-success" id="inputGroupPrepend" *ngIf="userPasswordForm.get('confirmNewPassword')?.valid && userPasswordForm.get('confirmNewPassword')?.value === userPasswordForm.get('newPassword')?.value">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="mb-3">
                <label for="current-password-input" class="form-label">Current Password</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="current-password-input" formControlName="currentPassword">
                    <span class="input-group-text fa-check-success" id="inputGroupPrepend" *ngIf="userPasswordForm.get('currentPassword')?.valid && userPasswordForm.get('currentPassword')?.value !== userPasswordForm.get('newPassword')?.value">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary" *ngIf="!isNewPasswordSubmitted" (click)="submitNewPasswordForm()">Submit</button>
                <div class="spinner-border text-primary" role="status" *ngIf="isNewPasswordSubmitted">
                    <span class="visually-hidden">Loading...</span>
                </div>
        </form>
    </div>
</div>